/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgba(101, 221, 230, 0.459);
    text-transform: uppercase;
    font-size: 12px;

}

.panel {
    width: 100%;
    max-width: 960px;
    height: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% auto;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 1em;
}


.pricing-plan {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    padding: 25px 50px;
    /* border-bottom: 2px solid #e1f1ff; */
    margin: 20px;
    flex-basis: 300px;

}

.pricing-plan h2,
li,
a {
    border-bottom: 2px solid #e1f1ff;

    padding: 15px 0px;
    color: #016ff9;

}

.pricing-plan h2 {
    color: #888888;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
}

.pricing-price {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #016ff9;
    margin-top: 25px;

}

a {
    display: block;
    border: 2px solid #9dd1ff;
    border-radius: 10px;
    padding: 15px 35px;
    max-width: 100px;
    text-decoration: none;
    margin: 25px 0px;
    font-size: 16px;
}

.pricing-img {
    margin-bottom: 25px;
    width: 100%;

}

@media (min-width: 700px) {
    .panel {
        flex-direction: row;
        min-height: 570px;
    }


}

.pricing-plan:nth-of-type(2) a {
    background-color: #016ff9;
    color: white;
}

.pricing-button:hover {
    background-color: #e1f1ff;
}

.pricing-plan:nth-of-type(2) a:hover {
    background-color: #269aff;
}